nav {
    /*flexbox adjustment*/
    display: flex;
    justify-content: center;
    padding: 1rem 0.5rem;
    align-items: center;

    /*blur background or glass effect*/
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);

    /*border*/
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    /*shadow*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    color: orange;
}

.logo b {
    color: white;
}
